name: Pull request workflow

on:
  workflow_dispatch:
  pull_request:

jobs:
  run-commit-lint:
    name: Lint commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/lint-commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
  run-lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/lint
      
  run-unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/unit-test
      
  build:
    name: Build
    needs: [run-commit-lint, run-lint, run-unit-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/build
      
  run-interaction-test:
    name: Interaction test
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/interaction-test

  publish-npm-package:
    name: Publish NPM
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
